*.versionsBackup
.idea/
.vscode/launch.json
/API/target/
/AutomationTesting/node_modules
/AutomationTesting/target
/Automation/target/
/BPM/.bpmn/
/BPM/.project
/BPM/target/
/Generator/target/
/JGITAPI/target/
/TOSAutomation/target/
/UI/src/.idea/
/UI/src/dist/
/UI/src/node_modules/
/UI/target/
/Utils/target/
/target/
/API/src/main/webapp/WEB-INF/glassfish-web.xml
/JGITAPI/src/main/webapp/WEB-INF/glassfish-web.xml
/derived/** filter=lfs diff=lfs merge=lfs -text
glassfish-resources.xml
hs_err_pid*
nb-configuration.xml
/ShellScripts/target/
/API/nbproject/
*.project
*.classpath
*.settings
settings.json
/TOSAutomation/nbproject/
/Automation/nbproject/